@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.Item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 1000px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
  border: none;
  border-radius: 2%;
  gap: 1rem;
}

.Item:hover {
  animation: zoomIn 0.3s forwards;
}

.editItems {
  display: flex;
  top: 0.5rem;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.editItems > :first-child {
  margin-left: 0.5rem;
}
.editItems > :last-child {
  margin-right: 0.5rem;
}
.editItems img {
  cursor: pointer;
}
.goodItem:hover .editItems {
  display: flex;
}
.goodPhoto {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.Item a {
  text-decoration: none;
}
.title {
  font-family: "Philosopher", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
}

.item_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 25px;
}
.button {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  font-size: 1rem;
  cursor: pointer;
}
.button:hover {
  background-color: #000000;
  color: white;
}

.goodPhoto {
  filter: grayscale(0%);
  transition: filter 0.3s ease;
}
.Item:hover .goodPhoto {
  filter: grayscale(250%);
}
.Item:hover .editItems {
  display: flex;
}

.value {
  color: black;
}
.descr {
  color: rgb(159, 159, 159);
}
.mediumBlock {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.mediumBlockHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.mediumBlockItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.3rem;
}
@media (max-width: 1050px) {
  .Item {
    width: 750px;
  }
}
@media (max-width: 790px) {
  .Item {
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
  }
  .mediumBlockHeader {
    flex-direction: column;
    gap: 1.5rem;
  }
  .mediumBlock {
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  .mediumBlockItem {
    flex-direction: row-reverse;
  }
  .button {
    margin-top: 0.5rem;
    padding-left: 4rem;
    padding-right: 4em;
  }
}
@media (max-width: 550px) {
  .Item {
    width: 430px;
  }
}
@media (max-width: 450px) {
  .Item {
    width: 380px;
  }
}
@media (max-width: 410px) {
  .Item {
    width: 340px;
  }
}
@media (max-width: 370px) {
  .Item {
    width: 320px;
  }
}
